/* Général */
:root
{
    --background-color: #000;
    --font-color: #fff;
    --grey-color: rgb(151, 151, 151);
    --golden-details: darkgoldenrod;
}

body
{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-size: 1rem;
    color: var(--font-color);
    scroll-behavior: smooth;/* Remplace la transition on/off au changement de section par un scroll lent */
}

/* Propriétés du background animé */
main .particles-js-canvas-el
{
    position: fixed;
    z-index: -1;
    top: 0;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

section#accueil, section#presentation, section#competences, section#projets, section#contact
{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section#accueil, */
/* section#presentation
{
    height: 100vh;
} */

/* #accueil-flex
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

/*----------HEADER----------*/
header .handwriting
{
    display: flex;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    max-height: 12vh;
    min-width: 100vw;
    top: -10px;
}

header .handwriting svg
{
    display: flex;
    justify-content: center;
    left: -9.5px; /* Combler décalage gauche entre parent svg et enfant text */
    position: relative;
    /* max-width: 90%;
    height: 400px; */
    /* top: -15px; */
}

header .handwriting svg .text /* On peut changer la couleur de la signature, Exemple -> stroke: red; */
{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: animate 5.5s linear 1 forwards;
}

@keyframes animate
{
    to
    {
        stroke-dashoffset: 0;
    }
}

/*----------NAVBAR VERTICALE----------*/
aside nav ul.nav-links
{
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    float: right;
    right: 0;
    transform-origin: right center;/* Point de départ de la rotation ci-dessous */
    transform: rotate(-90deg) translate(50%,-100%);
    top: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    max-height: 50px;
    min-width: 500px;
    z-index: 50;
    opacity: 0.5;
}

aside nav ul.nav-links,
aside nav ul.nav-links li a
{
    text-decoration: none;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: var(--grey-color);
    font-weight: 800;
    letter-spacing: 0.05em;
}

aside nav ul.nav-links li a:active
{
    color: var(--golden-details);
    font-weight: 900;
}

/*----------ANIMATION TYPING TEXT----------*/
.typing-text
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

section#presentation #passions-typing-text,
section#competences #languages-typing-text
{
    display: inline-block;
	vertical-align: middle;
	color: var(--golden-details);
	letter-spacing: 1px;
}

/* Curseur animé */
section#presentation .typing-text-cursor,
section#competences .typing-text-cursor
{
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 1.5em;
	background-color: rgb(180, 180, 180);
	animation: blink .75s step-end infinite;
}

@keyframes blink
{
	from, to
    { 
		background-color: transparent 
	}
	50%
    { 
		background-color: var(--grey-color); 
	}
}

/*----------SECTION ACCUEIL----------*/
section#accueil
{
    flex-direction: column;
}

section#accueil h1
{
    color: var(--golden-details);
    font-size: 2.2rem;
    margin-bottom: 0;
}

section#accueil #lyon
{
    color: var(--golden-details);
    font-size: 1.7rem;
    font-family: 'Playfair Display';
    font-weight: 900;
    margin-top: 0;
}

/*----------SECTION PRESENTATION----------*/
section#presentation .typing-text-container
{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* vertical-align: middle; */
    /* flex-wrap: wrap; */
    /* position: relative; */
    font-size: 0.9rem;
    /* text-align: left !important; */
    top: 20%;
    margin-left: 2%;
}

/*----------SECTION COMPETENCES----------*/
section#competences .typing-text-container
{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* flex-wrap: wrap; */
    /* position: relative; */
    text-align: left !important;
    /* top: 20%; */
    /* margin-left: 5%; */
}